@import "tailwindcss";

@layer base {
  :root {
    --primary: 0 73% 48%;
    --primary-foreground: 9 92% 71%;
    --secondary: 9 86% 82%;
    --secondary-foreground: 0 0% 100%;

    --accent: 0 85% 60%;
    --accent-foreground: 0 85% 100%;

    --muted: 210 20% 94%;
    --muted-foreground: 215 15% 35%;

    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;
  }
}
